* {
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #003554;
  color: #ffffff;
  padding: 0;
  margin: 0; 
}

.weather {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#003554;
  color: #ffffff;
  height: 35vh;
  margin: 3px;
  overflow: hidden;
  border-radius: 30px;
}


.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh; 
}

.card {
  height: 300px;
  width: 200px;
  border: 2px solid #051923;
  border-radius: 10px;
  padding-left:25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #003554;
  color: #ffffff;
}